.flex-container
{
 display:flex;
justify-content: space-around;

}
.container1 div
{
 width:30vw;
}
.container1 div p
{
  text-align: justify;
  font-size:3.5vh;
}
hr{
  display:none;

}
@media  screen and (max-width:800px) {
  .flex-container{
    flex-direction:column;
  }
  .flex-container div
  {
    width:100%;
  }
  hr{
    display:block;
    width:100%;
  }
}
