.dodgerblue
{
  background-color:dodgerblue;
}
.tomato
{
  background-color:tomato;
}
.lightgreen
{
  background-color:lightgreen;
}
.bisque
{
  background-color:bisque;
}
.chartreuse
{
  background-color:chartreuse;
}
.darkorchid
{
  background-color:darkOrchid;
}
.indianred
{
  background-color:indianred;
}
.lightseagreen
{
  background-color:lightseagreen;
}
.powderblue
{
  background-color:PowderBlue;
}
.yellow
{
  background-color:yellow;
}
.teal
{
  background-color:teal;
}
.orangered
{
  background-color:OrangeRed;
}
.slateblue{
  background-color:SlateBlue;
}
.springreen
{
  background-color:SpringGreen;
}
.khaki
{
  background-color:khaki;
}
.thistle
{
  background-color:thistle;
}
