.flex-container {
  display: flex;

}
/*
Flex direction
*/

.flex-direction-column
{

 flex-direction:column;
}
.flex-direction-row
{
  flex-direction:row;

}
.flex-direction-row-reverse
{
  flex-direction:row-reverse;
}
.flex-direction-column-reverse
{
  flex-direction:column-reverse;
}

/*
wrap
*/
.flex-wrap-wrap
{
  flex-wrap:wrap;
}
.flex-wrap-nowrap
{
  flex-wrap:nowrap;
}
.flex-wrap-wrap-reverse
{
  flex-wrap:wrap-reverse;
}
/*
flex-flow
*/
.flex-flow-row-wrap{
  flex-flow:row wrap;
}
.flex-flow-column-nowrap
{
  flex-flow:row-reverse nowrap;
}
.flex-flow-column-reverse-wrap-reverse
{
  flex-flow: column-reverse wrap-reverse;
}
.flex-flow-row-reverse-wrap-reverse
{
  flex-flow:row-reverse wrap-reverse;
}
/*
justify-content
*/
.justify-content-center
{
  justify-content: center;
}
.justify-content-flex-start
{
  justify-content: flex-start;
}
.justify-content-flex-end
{
  justify-content:flex-end;
}
.justify-content-space-around
{
  justify-content:space-around;
}
.justify-content-space-between
{
  justify-content: space-between;
}
/*
align-items
*/
.align-items-center
{
  align-items: center;
}
.align-items-flex-start
{
  align-items:flex-start;
}
.align-items-flex-end
{
  align-items:flex-end;
}
.align-items-stretch
{
  align-items:stretch;
}
.align-items-baseline
{
  align-items:baseline;
}
/*
align self
*/
.align-self-center
{
  align-self:center;
}
.align-self-flex-start
{
  align-self:flex-start;
}
.align-self-flex-end
{
  align-self:flex-end;
}
.align-self-stretch
{
  align-self:stretch;
}
.align-self-baseline
{
  align-self:baseline;

}
/*
Styling
*/
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
div.big-container
{
 height:400px;

}
